.settings {
  width: 50vw;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .form-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;

    .update-left {
      width: 70%;
      div {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        padding: 8px;

        label {
          font-size: 18px;
          color: gray;
        }

        input {
          height: 45px;
          font-size: 22px;
          font-weight: 100;
          border-radius: 0;
          border: 2px solid black;
        }
      }
    }
    .update-right {
      align-items: flex-end;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
  }

  button {
    width: 100%;
    background-color: black;
    align-self: center;
    color: white;
    height: 45px;
    font-size: 17px;
    border: none;
    align-self: center;
  }

  button:hover {
    background-color: rgb(75, 69, 69);
  }

  button:active {
    transform: scale(1.01);
    background-color: black;
  }
}

@media only screen and (max-width: 1000px) {
  .settings {
    width: 98vw;
    overflow: hidden;
  }

  .update-right {
    display: none;
  }

  .update-left {
    min-width: 99vw;
    padding: 20px;

    div {
      width: 100%;
      padding: 3px;
      align-items: center;
    }

    label {
      width: 100%;
      text-align: start;
    }

    input {
      width: 100%;
    }
  }
}
