.sidebar {
  max-width: auto;
  color: white;
  background-color: black;
  height: 100vh;
  position: fixed;
  z-index: 4;
  visibility: hidden;
  transition: max-width 0.5s ease;

  h4 {
    font-size: 33px;
    padding: 20px;
    margin: 90px;
  }

  .sidebar-top {
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-bottom: 40px;
  }
}

.sidebar-open {
  transform: translateX(-300px);
}

.sidebar-btn {
  display: flex;
  align-items: center;
  font-size: 22px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(24, 24, 26);
  border-radius: 2px;

  p {
    padding-left: 10px;
  }
}

.sidebar-btn:hover {
  background-color: rgb(33, 33, 36);
}
