.sidebar {
  //max-width: 30rem;
  color: white;
  background-color: black;
  min-height: 100vh;
  //height: 100vh;

  //width: 20rem;
  position: sticky;
  top: 0;
  z-index: 222;
  transition: max-width 0.5s ease;
  .close-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    h2 {
      padding: 0.5rem;
    }
  }
  h4 {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 3rem 2rem;
  }

  .sidebar-top {
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-bottom: 2rem;
  }
  .sidebar-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(24, 24, 26);
    border-radius: 0.2rem;

    p {
      padding-left: 0.5rem;
    }
  }

  .sidebar-btn:hover {
    background-color: rgb(33, 33, 36);
  }
}

.sidebar-open {
  //transform: translateX(-300px);
  //visibility: hidden;
  display: none;
}
