*{
  margin: 0;
  padding: 0;
  
}


.App{
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  height: 100vh;
  
}



.wrapper{
  display: flex;
  width: 100vw;
}

.wrapper-content{
  padding-top: 78px;
  width: 100%;
  max-height: 100vh;overflow: hidden;
}

@media (min-width: 610px) {
	.discovery-stream.ds-layout {
		width: 530px !important; 
	} 
}

@media (min-width: 866px) {
  
	.discovery-stream.ds-layout {
		width: 786px !important; 
    
	} 
}
@media (min-width: 1122px) {
	.discovery-stream.ds-layout {
		width: 1042px !important; 
	} 
}